*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all{
  width: 90vw;
  margin: 0 auto;

}


h1, h2, h3, h4, a, p{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

p{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

h3{
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

#grey{
  color: #5F5E5E;
}

#otstup{
  padding-top: 16px;
}

/* _________________________конфетки___________________________ */

.candy1{
  position: absolute;
  display: flex;
  height: 30%;
  top: 64%;
  left: 2%;
}

.wow{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  display: flex;
  top: 76%;
  left: 16%;
  background-color: white;
  border-radius: 10px;
}

.candy2{
  position: absolute;
  display: flex;
  height: 30%;
  left: 86%;
  top: -18%;
}

/* __________________________меню____________________________ */

.menu{
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav{
  width: 420px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* __________________________главный экран____________________________ */

.bl1{
  position: relative;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.utp{
  weight: 50%;
  padding-left: 48px;
}

.img1{
  height: 42vw;
}

.btn1{
  padding-top:22px;
  padding-bottom: 22px;
  padding-left: 64px;
  padding-right: 64px;
  border-radius: 40px;
  background-color: #F3525C;
  border: none;
  color: white;
  margin-top: 32px;
}
/* ____плашки_______ */

.pl1, .pl2, .pl3, .pl4{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  border: 1px solid #C0C0C0;
  text-align: center;
  background-color: white;
  color: #C0C0C0;
}

.plrow1{
  display: flex;
  flex-direction: row;
}

.plrow2{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.plashki{
  padding-bottom: 32px;
}

/* ____________________2 экран: популярные товары____________________________ */

.bl2{
  margin-top: 80px;
}

.bll2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 54vw;
  align-items: center;
  margin-top: -4vw;
}

.tovar1{
  margin-top: 48px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

 .t3{
  width: 33%;
  border: 1px solid #EAEAEA;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  border-radius: 40px;
  height: 36vw;
  flex: 1 1 auto;
  margin: 0 5px;

}

.t1, .t2{
  width: 50%;
  border: 1px solid #EAEAEA;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  border-radius: 40px;
  height: 36vw;
  flex: 1 1 auto;
  margin: 0 5px;
}

.t12{
  width: 67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box1, .box2, .card{
  width: 60%;
  padding-bottom: 40px;
}

.btn2{
  padding-top:22px;
  padding-bottom: 22px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 40px;
  background-color: black;
  border: none;
  color: white;
  margin-top: 32px;
}

/* ____________________3 экран: Ближайшие мероприятия____________________________ */

.bl3{
  margin-top: 80px;
}
