*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all{
  width: 90vw;
  margin: 0 auto;

}


h1, h2, h3, h4, a, p{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

p{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}


h1{
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}


h2{
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

h4{
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

h5{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.btext{
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}  /* для текста во 2 меню */

.etext{
  font-weight: 400;
  line-height: 34px;
} /* для регуляр текста размером в 24 */

#white{
  color: white;
}

#grey{
  color: #5F5E5E;
}

#otstup{
  padding-top: 16px;
}

#semibold{
  font-weight: 600;
}

#left{
  text-align: left;
}

/* _________________________конфетки___________________________ */

.candy1{
  position: absolute;
  display: flex;
  height: 30%;
  top: 64%;
  left: 2%;
}

.wow{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  display: flex;
  top: 76%;
  left: 16%;
  background-color: white;
  border-radius: 10px;
}

.candy2{
  position: absolute;
  display: flex;
  height: 30%;
  left: 86%;
  top: -18%;
}

/* __________________________меню и футер____________________________ */

.menu{
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav{
  width: 420px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foter{
  margin-bottom: 48px;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu2{
  margin-top: 72px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.knopki{
  margin-top: 40px;
}

.knopka1{
  background-color: black;
}

.knopka2{
  background-color: #EDEDED;
}

.knopka1, .knopka2{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 40px;
  margin-right: 16px;
}

hr{
  background-color: #D1D1D1;
  border: none;
  color: #D1D1D1;
  height: 1px;
  width: 100%;
  margin-top: 56px;
}

.cryg{
  height: 40px;
  position: absolute;
  top: 206px
}

/* __________________________главный экран____________________________ */

.bl1{
  position: relative;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.utp{
  weight: 50%;
  padding-left: 48px;
}

.img1{
  height: 42vw;
}

.btn1{
  padding-top:22px;
  padding-bottom: 22px;
  padding-left: 64px;
  padding-right: 64px;
  border-radius: 40px;
  background-color: #F3525C;
  border: none;
  color: white;
  margin-top: 32px;
}
/* ____плашки_______ */

.pl1, .pl2, .pl3, .pl4{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  border: 1px solid #C0C0C0;
  text-align: center;
  background-color: white;
  color: #C0C0C0;
}

.plrow1{
  display: flex;
  flex-direction: row;
}

.plrow2{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.plashki{
  padding-bottom: 32px;
}

/* ____________________2 экран: популярные товары____________________________ */

.bl2{
  margin-top: 80px;
}

.bll2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blur{
  position: absolute;
  display: flex;
  justify-content: center;
  height: 54vw;
  align-items: center;
  margin-top: -4vw;
}

.tovar1{
  margin-top: 48px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

 .t3{
  width: 33%;
  border: 1px solid #F2F2F2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  border-radius: 40px;
  height: 36vw;
  flex: 1 1 auto;
  margin: 0 5px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
}

.t1, .t2{
  width: 50%;
  border: 1px solid #F2F2F2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  border-radius: 40px;
  height: 36vw;
  flex: 1 1 auto;
  margin: 0 5px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
}

.t12{
  width: 67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box1, .box2, .card{
  width: 60%;
  padding-bottom: 40px;
}

.btn2{
  padding-top:22px;
  padding-bottom: 22px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 40px;
  background-color: black;
  border: none;
  color: white;
  margin-top: 32px;
}

/* ____________________3 экран: Ближайшие мероприятия____________________________ */

.bl3{
  margin-top: 80px;
}

.bll3{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.plbtn{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 16px;
}

.plakat23{
  display: flex;
  flex-direction: row;
}

.plakat1, .plakat2, .plakat3{
  width: 50%;
  border-radius: 24px;
}

.plakat2{
  margin-right: 16px;
}

.plakat2, .plakat3{
  opacity: 0.3;
}
