*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all{
  width: 90vw;
  margin: 0 auto;
}

/* __________________________кнопки____________________________ */

.book{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border-radius: 40px;
  border: none;
  background-color: #F3525C;
  color: white;
}

/* _____________________1 cекция про гид__________________________ */

.ek1{
  display: flex;
  flex-direction: column;
  margin-top: 72px;
}

.e1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 44px;
  border-radius: 40px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

.etext, .etext1, .etext2, .etext3{
  font-weight: 400;
  line-height: 34px;
}

/* _____________________2 секция фото с облетом пространства__________________________ */

.e2{
  margin-top: 32px
}

.photo1{
  width: 100%;
  border-radius: 40px;
}

.video{
  margin-top: -96px;
  margin-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  position: absolute;
}

/* _____________________3 секция слайдеры__________________________ */

.e3{
  margin-top: 64px;
}

.clyd1{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cl{
  display: flex;
  width: 7744px;
  animation-play-state: running;
  animation: sll-move 17s linear infinite;
}

.sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
  height: 410px;
  position: relative;
  display: flex;
  margin-right: 16px;
  border-radius: 40px;
}

.cl:hover {
  animation-play-state: paused;
}

@keyframes sll-move {
  0% {margin-left: -3872px;}
  100% {margin-left: 0px;}
}

.et3{
  display: flex;
  flex-direction: row;
  margin-top: 24px;

}

.etext1, .etext2{
  padding: 44px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

.etext1{
    margin-right: 16px
}

/* _____________________2 этап создания__________________________ */

.e4{
  margin-top: 64px;
}

.clyd2{
  display: flex;
  flex-direction: column;
}

.e2{
  width: 100%;
  border-radius: 40px;
}

.e22, .e222{
  position: relative;
  display: flex;
  height: 20vw;
  border-radius: 40px;
  margin-right: 16px;

}

.cl1{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.etext3{
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 44px;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;

}
