*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all{
  width: 90vw;
  margin: 0 auto;
}

.e3, .e4, .e5, .e6, .e7, .e8, .e9{
  margin-top: 64px;
}
/* __________________________кнопки____________________________ */

.book{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  border: none;
  background-color: #F3525C;
  color: white;
}

/* _____________________1 cекция про гид__________________________ */

.ek1{
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.e1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 44px;
  border-radius: 40px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

.etext, .etext1, .etext2, .etext3, .etext4, .etext5{
  font-weight: 400;
  line-height: 34px;
}

/* _____________________2 секция фото с облетом пространства__________________________ */

.e2{
  margin-top: 32px
}

.photo1{
  width: 100%;
  border-radius: 40px;
}

.video{
  margin-top: -96px;
  margin-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  position: absolute;
}

/* _____________________3 секция слайдеры__________________________ */

.clyd1{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cl{
  display: flex;
  width: 7744px;
  animation-play-state: running;
  animation: sll-move 20s linear infinite;
}

.sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
  height: 410px;
  position: relative;
  display: flex;
  margin-right: 16px;
  border-radius: 40px;
}

.cl:hover {
  animation-play-state: paused;
}

@keyframes sll-move {
  0% {margin-left: -3888px;}
  100% {margin-left: 0px;}
}

.et3{
  display: flex;
  flex-direction: row;
  margin-top: 24px;

}
.etext2{
  padding: 44px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
  width: 100%;
  margin-left: 16px;
}

.etext1{
  padding-top: 44px;
  padding-left: 44px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
  width: 70%;
}

/* _____________________2 этап создания__________________________ */

.clyd2{
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.cl1{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: space-between;
}

.ef2{
  width: 100%;
  border-radius: 40px;
}

.ef, .ef1{
  display: flex;
  border-radius: 40px;
  margin-right: 16px;
  width: 30%;
}


.etext3{
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 44px;
  padding-left: 44px;
  padding-right: 44px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

/* _____________________3 этап создания__________________________ */

.clyd3{
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.el{
  width: 50%;
  height: auto;
  border-radius: 40px;
}

.ell{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 16px;
}

.etext4{
  width: 100%;
  height: 40%;
  display: flex;
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 36px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

.el4{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.l4,.l44{
  margin-top: 16px;
  width: 50%;
  border-radius: 40px;
}

.l44{
  padding-left: 4px;
}

.l4{
  padding-right: 4px;
}

/* _____________________4 этап создания__________________________ */

.clyd4{
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.etext5{
  width: 100%;
  height: 40%;
  display: flex;
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 36px;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
  margin-top: 16px;
}

.j1{
  border-radius: 40px;
}

/* _____________________релакс_________________________ */

.clip1{
  display: flex;
  width: 3872px;
  animation-play-state: running;
  animation: sll1-move 9s linear infinite;
}

.sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
  height: 410px;
  position: relative;
  display: flex;
  margin-right: 16px;
  border-radius: 40px;
}

.clip1:hover {
  animation-play-state: paused;
}

@keyframes sll1-move {
  0% {margin-left: -1944px;}
  100% {margin-left: 0px;}
}

/* _____________________магазин_________________________ */

.shop{
  margin-top: 48px;
  border-radius: 40px;
  width: 100%;
}

.shb{
  display: flex;
  flex-direction: column;
}

.sh{
  margin-top: -90px;
  margin-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 40px;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  position: absolute;
}

/* _____________________гид_________________________ */

.gid{
  margin-top: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 44px;
  border-radius: 40px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
}

.kn{
  width: 40%;
}

.gi{
  display: flex;
  flex-direction: column;
}

.gib{
  margin-top: 40px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border-radius: 40px;
  border: none;
  background-color: #F3525C;
  color: white;
}
