*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all1{
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

.foter3{
  margin-bottom: 48px;
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* __________________________все____________________________ */

.veb{
  margin-top: 64px;
}

.intall{
  display: flex;
  flex-direction: row;
}

.int1{
  display: flex;
  flex-direction: column;
  width: 36%;
}

.int2{
  display: flex;
  flex-direction: column;
  width: 34%;
  margin-left: 1vw;
}

.int3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #0F0F0F;
  margin-left: 1vw;
  border-radius: 24px;
}

.logo3{
  height: 10vw;
  background-color: #0F0F0F;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lg2{
  display: flex;
  width: 60%;

}



.cvet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  background-color: #0F0F0F;
  border-radius: 24px;
  height: 29vw;

}

.kkk4{
  background-color: #5973FF;
  border-radius: 24px;
  height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.kof{
  margin-top: 1vw;
  background-color: #0F0F0F;
  border-radius: 24px;
  height: 16vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.bt4{
  margin-top: 1vw;
  background-color: #4B3EE1;
  border-radius: 24px;
  height: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.vebtn{
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 200px;
  border: none;
  background-color: white;
}

.avt{
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

/*_________________рамка с выбором цвета_________________ */

.ramka1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 84%;
  height: 12vw;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid #252525;

}

.kry{
  width: 5vw;
  height: 5vw;
  background-color: #F69944;
  border-radius: 100%;
}

.krr{
  width: 5vw;
  height: 5vw;
  background-color: #F64444;
  border-radius: 100%;
}

.krf{
  width: 5vw;
  height: 5vw;
  background-color: #5B1DDF;
  border-radius: 100%;
}

.kry:hover{
  box-shadow:0 0 20px #F69944;

}

.krr:hover{
  box-shadow:0 0 20px #F64141;
}

.krf:hover{
  box-shadow:0 0 20px #5B1DDF;
}

.kry:active{
  box-shadow:0 0 20px #F69944;
}

.krya{
  box-shadow:0 0 20px #F69944;
  opacity: 100%;
}

.krr:active{
  box-shadow:0 0 20px #F64141;
}

.krra{
  box-shadow:0 0 20px #F64141;
  opacity: 100%;
}

.krf:active{
  box-shadow:0 0 20px #5B1DDF;
}

.krfa{
  box-shadow:0 0 24px #5B1DDF;
  opacity: 100%;
}

/*_________________рамка с выбором формы_________________ */

.ramka2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 60%;
  height: 30vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid #252525;
}

.i1{
  width: 10vw;
  opacity: 60%;
}

.i2{
  width: 6vw;
  opacity: 60%;
}

.i3{
  width: 8vw;
  opacity: 60%;
}

.im11{
  height: 8vw;
}

.i1:hover{
transform: scale(1.1);
}

.ia1{
  opacity: 100%;
  transform: scale(1.1);
}

.i2:hover{
  transform: scale(1.1);
}


.i3:hover{
  transform: scale(1.1);
}

.krfa{
  box-shadow:0 0 24px #5B1DDF;
  opacity: 100%;
}

.ia1{
  opacity: 100%;
  transform: scale(1.1);
}

.notwork{
  opacity: 20%;
  box-shadow: none;
}

.im{
  animation-name: kda;
  animation-timing-function: linear;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

@keyframes kda{
  50% {transform: scale(1.1) rotate(7deg)}
}

.knp{
  width: 20vw;
  animation-name: knpa;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  opacity: 0.1;
}

@keyframes knpa{
  50% {opacity: 1; transform:rotate(7deg) }
}
