@media all and (min-width: 1920px) {
  a{
      font-size: 30px;
    }

    h1{
      font-size: 64px;
      line-height: 77px;
    }

    h2{
      font-size: 54px;
      line-height: 65px;
    }

    h3{
      font-size: 42px;
      line-height: 52px;
    }

    h4{
      font-size: 36px;
      line-height: 44px;
    }

    p{
      font-size: 28px;
      line-height: 39px;
    }

    #butws{
      font-size: 32px;
      line-height: 39px;
    }

    .btext{
      font-size: 42px;
      line-height: 52px;
    }

    #but{
      font-size: 32px;
      line-height: 39px;
    }

    #otstup{
      padding-top: 24px;
    }

    /* __________меню________ */

    .menu2{
      margin-top: 88px;
    }

    .knopka1, .knopka2{
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 64px;
      padding-right: 64px;
      border-radius: 100px;
    }

    .knopki{
      margin-top: 48px;
    }

    hr{
      margin-top: 64px;
    }

    .cryg{
      height: 64px;
      position: absolute;
      top: 250px;
      animation-name: cryg1a;
      animation-timing-function: linear;
      animation-duration: 7s;
      animation-iteration-count: infinite;
    }
    /* __________главная страница________ */


    .btn1{
      padding-top:24px;
      padding-bottom: 24px;
      padding-left: 72px;
      padding-right: 72px;
      margin-top: 48px;
      border-radius: 100px;
    }

    .pl1, .pl2, .pl3, .pl4{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 80px;
    }

    .nav{
      width: 640px;
    }

    .menu{
      margin-top: 80px;
    }

    .logo{
      width: 10vw;
    }

    .utp{
      padding-left: 64px;
    }

    .wow{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 32px;
      padding-right: 32px;
      top: 76%;
      left: 16%;
      background-color: white;
      border-radius: 40px;
    }


    .bl2, .bl3{
      margin-top: 100px;
    }

    .bll3{
      margin-top: 72px;
    }

    .t1, .t2, .t3{
      padding-top: 80px;
    }

    .tovar1{
      margin-top: 72px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    .box1, .box2, .card{
      padding-bottom: 48px;
    }

    .btn3{
      padding-top:24px;
      padding-bottom: 24px;
      padding-left: 160px;
      padding-right: 160px;
      margin-top: 40px;
      border-radius: 100px;
    }

    .btn2{
      padding-top:24px;
      padding-bottom: 24px;
      padding-left: 160px;
      padding-right: 160px;
      margin-top: 24px;
      border-radius: 100px;
    }

      /* __________экскурсии________ */

  .etext{
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

   .etext1, .etext2, .etext3, .etext4, .etext5{
      font-size: 36px;
      font-weight: 400;
      line-height: 44px;
      padding-left: 56px;
      }

  .etext2{
      margin-left: 24px;
      }


  .ek1, .p1{
    margin-top: 88px;
  }

    .e2{
      margin-top: 48px;
    }

    .e3, .e4, .e5, .e6, .e7, .e8, .e9{
      margin-top: 88px;
    }

    .video{
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 64px;
      padding-right: 64px;
      border-radius: 100px;
    }

    .clyd1, .clyd2, .clyd3, .clyd4, .clyd5, .gid, .shop {
      margin-top: 56px;
    }

    .sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
      height: 560px;
    }

    .et3{
      margin-top: 32px;
    }

    .gid{
      padding: 56px;
    }

    .avt{
      font-size: 32px;
      line-height: 39px;
    }

    .sh, .book, .gib, .gib1, .backbtn{
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 64px;
      padding-right: 64px;
      border-radius: 100px;
    }

    .veb, .katall, .merchall{
      margin-top: 96px;
    }

    /* __________404________ */
  .oups{
    font-size: 120px;
    line-height: 150px;
    margin-top: 5vw;
  }

  .gib2{
    padding-top: 28px;
    margin-top: 40px;
    padding-bottom: 30px;
    width: 30vw;
    border-radius: 100px;
    font-size: 32px;
    line-height: 32px;
  }


}

@media all  and (min-width: 768px) and (max-width:1380px) {
  a{
    font-size: 16px;
  }

  h1{
    font-size: 30px;
    line-height: 34px;
  }

  h2{
    font-size: 22px;
    line-height: 27px;
  }

  h3{
    font-size: 20px;
    line-height: 24px;
  }

  h4{
    font-size: 20px;
    line-height: 24px;
  }

  p{
    font-size: 18px;
    line-height: 22px;
  }

  .btext{
    font-size: 24px;
    line-height: 29px;
  }

  #butws{
    font-size: 18px;
    line-height: 22px;
  }

  #but{
    font-size: 18px;
    line-height: 22px;
  }

  #otstup{
    padding-top: 8px;
  }

  .foter{
    margin-bottom: 48px;
    margin-top: 72px;
  }

  .nav{
    width: 360px;
  }



  .knopka1, .knopka2{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
  }

  .knopki{
    margin-top: 32px;
  }

  hr{
    margin-top: 48px;
  }

  .cryg{
    height: 38px;
    top: 160px;
  }

  .logo{
    width: 14vw;
  }

  .img1{
      border-radius: 16px;
  }

  .btn1{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 24px;
    border-radius: 100px;
  }

  .pl1, .pl2, .pl3, .pl4{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 80px;
  }

  .plashki{
    padding-bottom: 24px;
  }

  .utp{
    padding-left: 24px;
  }

  .wow{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    top: 80%;
    left: 4%;
  }

  .candy1{
    top: 50%;
    left: 2%;
  }

  .bl2, .bl3{
    margin-top: 48px;
  }

  .bll3{
    margin-top: 32px;
  }

.tovar1{
  margin-top: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.t1, .t2, .t3{
  border-radius: 16px;
}

.t1, .t2{
  width: 100%;
  height: 54vw;
  margin: 0px;
}

.t2{
  margin-left: 8px;
}


.t3{
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-top: auto;
  padding-bottom: auto;
}



.t12{
  width: 100%;
}

.candy2{
  position: absolute;
  display: flex;
  height: 14%;
  left: 86%;
  top: -8%;
}

.blur{
  height: 64vw;
  margin-top: 16vw;
}

.card{
  width: 40%;
  padding-bottom: 0px;
}

.btn2{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 56px;
  padding-right: 56px;
  margin-top: 8px;
  border-radius: 100px;
}


.btn3{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 16px;
  border-radius: 100px;
}

.plakat1{
  border-radius: 16px;
}

.plakat2, .plakat3{
  border-radius: 8px;
}

.plakat2{
  padding-right: 4px;
}

.plakat3{
  padding-left: 4px;
}

.plakatiki, .ek1{
  margin-top: 48px;
}


.p1{
  position: absolute;
  display: flex;
  width: 40vw;
  border-radius: 16px;
  margin-top: 0px;
}

.p2{
  position: absolute;
  display: flex;
  width: 40vw;
  right: 5vw;
  margin-top: 72vw;
  opacity: 0.6;
  border-radius: 16px;
}

.p3{
  position: absolute;
  display: flex;
  width: 36vw;
  right: 22vw;
  margin-top: 120vw;
  border-radius: 24px;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.p4{
  width: 28vw;
  left: 10vw;
  margin-top:150vw;
  border-radius: 8px;
}

.p6{
  width: 32vw;
  left: 26vw;
  margin-top: 180vw;
  opacity: 0.5;
  border-radius: 16px;
}

.p5{
  width: 38vw;
  right: 5vw;
  margin-top: 200vw;
  border-radius: 16px;
}

.p7{
  width: 28vw;
  left: 10vw;
  margin-top: 260vw;
  border-radius: 8px;
}

.p9{
  width: 40vw;
  right: 10vw;
  margin-top: 340vw;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.p8{
  width: 32vw;
  right: 46vw;
  margin-top: 288vw;
  opacity: 0.6;
  border-radius: 16px;
}

.a3, .a4{
  position: absolute;
  margin-top:190vw;
  padding-bottom: 48px;
}

/* __________экскурсия________ */
.etext{
  font-size: 16px;
  line-height: 19px;
}

 .etext1, .etext2, .etext3, .etext4, .etext5{
   font-size: 16px;
   line-height: 19px;
  }

  .etext2{
    padding-top: 24px;
    padding-left: 24px;
    border-radius: 16px;
    margin-left: 8px;
    width:460px;
  }

  .etext1{
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
  }

  .etext3{
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 0px;
  }

  .etext4{
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
    width: 100%;
    padding-right: 7vw;
  }

  .etext5{
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
  }

  .e1{
    border-radius: 16px;
    padding: 24px;
  }

  .e2{
      margin-top: 24px;
  }

    .e3, .e4, .e5, .e6, .e7, .e8, .e9{
      margin-top: 48px;
    }



    .clyd1, .clyd2, .clyd3, .clyd4, .clyd5, .gid, .shop {
      margin-top: 32px;
    }

    .sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
      height: 300px;
    }

    .et3{
      margin-top: 16px;
    }

    .gid{
        padding: 56px;
    }

    .avt{
      font-size: 32px;
      line-height: 39px;
    }

    .sh, .gib, .gib1, .backbtn{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 44px;
      padding-right: 44px;
      border-radius: 100px;
    }

    .gib{
      margin-top: 24px;
    }

    .book{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .veb, .katall, .merchall{
      margin-top: 96px;
    }

    .video, .sh{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 100px;
      margin-top: -74px;
      margin-left: 3vw;
    }

  .ef, .ef1, .ef2, .l4, .l44, .j1, .shop{
    border-radius: 16px;
  }

  .l4,.l44{
    margin-top: 8px;
    width: 50%;
  }

  .el{
    height: 34vw;
    border-radius: 16px;
  }

  .gid{
    padding: 32px;
    border-radius: 16px;
  }



/* ____________о конфетах___________ */
  .veball, .intall{
  flex-direction: column;
  }

  .veb{
    margin-top: 48px;
  }

  .veb1, .veb2, .veb3, .int1, .int2, .int3{
    flex-direction: column;
    width: 100%;
  }

  .logo2, .logo3{
    height: 20vw;
    border-radius: 16px;
  }

  .lg2{
    width: 50%;
  }

  .kd{
    width: 32vw;
  }

  .konfeta, .cvet{
    margin-top: 1vw;
    border-radius: 16px;
    height: 44vw;
  }

  .kkk3, .kkk4{
    border-radius: 16px;
    margin-top: 1vw;
    height: 20vw;
  }

  .kkk, .kkk1{
    width: 12vw;
    margin-left: 48px;
    margin-left: 48px;
  }

  .eye3, .kof{
    border-radius: 16px;
    height: 20vw;
  }

  .eye33, .eye331{
    width: 14vw;
    margin-left: 32px;
    margin-left: 32px;
  }

  @keyframes eye33a {
    25% {transform: translateY(-28px)}
    50% {transform: translateY(0px)}
    75% {transform: translateY(28px)}
    100% {transform: translateY(0px)}
  }

  @keyframes eye331a {
    25% {transform: translateY(28px)}
    50% {transform: translateY(0px)}
    75% {transform: translateY(-28px)}
    100% {transform: translateY(0px)}
  }

  .bt3, .bt4{
    margin-top: 1vw;
    border-radius: 16px;
    height: 18vw;
  }

  .vebtn{
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: 8vw;
    padding-right: 8vw;
    border-radius: 200px;
  }

  .avt{
    font-size: 18px;
    line-height: 22px;
  }

  .veb3{
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 16px;
    height: 32vw;
    flex-direction: row;
    width: 100%;
    padding-right: 0px;
    justify-content: center;
  }

  .int3{
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 16px;
    height: 36vw;
    padding-right: 0px;
  }

.zg2{
    width: 10vw;
    transform: rotate(50deg);
    margin-left: 14vw;
    margin-top: 2vw;
}

.zg3{
    width: 10vw;
    transform: rotate(-50deg);
    margin-left: 14vw;
    margin-top: 3vw;
}

  .zg{
    width: 10vw;
    transform: rotate(-50deg);
    margin-top: 3vw;
  }

  .ramka1{
    padding-left: 8vw;
    padding-right: 8vw;
    width: 80%;
    height: 24vw;
  }

.kry, .krr, .krf{
  width: 12vw;
  height: 12vw;
}

.knp{
  width: 40vw;
}

.ramka2{
  flex-direction: row;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 80%;
  height: 24vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid #252525;
}

.i1{
  width: 16vw;
}

.i2{
  width: 12vw;
}

.i3{
  width: 14vw;
}

/* ____________каталог___________ */

  .katall, .merchall{
    margin-top: 48px;
  }

  .kat12, .kat34, .kat56{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .katall{
    display: flex;
    flex-direction: column;
  }

  .kat2, .kat4, .kat6{
    margin-top: 0px;
    margin-left: 1vw;
  }

  .kat34{
    margin-right: 0px;
    margin-left: 0px;
  }

  .kat34, .kat56{
    margin-top: 1vw;
  }

  .kat1, .kat2, .kat3, .kat4, .kat5, .kat6{
    padding-top: 80px;
    height: 56vw;
    border-radius: 40px;
    box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
    border: 1px solid #F2F2F2;
    background-color: white;
  }

/* ____________мерч___________ */

.m345{
  margin-top: 1vw;
}

.m1, .m2{
  padding-top: 48px;
  height: 56vw;
  border-radius: 16px;
}

.m3, .m4, .m5{
  padding-top: 48px;
  height: 34vw;
  border-radius: 16px;
}

.m4, .m5{
  margin-left: 1vw;
}

/* ____________стр товара__________ */

#down{
  margin-top: 40vw;
}

.tovt{
  margin-left: 4vw;
}

.to{
  margin-top: 32px;
  text-align: left;
}

.razmer{
  margin-top: 16px;
}

.raz, .raz1{
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-radius: 40px;
}

.raz1{
  margin-left: 1vw;
}

.gib1{
    margin-top: 32px;
}

/* ___________404__________ */

.oups{
  font-size: 90px;
  line-height: 100px;
  text-align: center;
  margin-top: 10vw;
}

.vse{
  border-radius: 16px;
  width: 64vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.gib2{
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 36vw;
  border-radius: 100px;
}

.can1{
  width: 18vw;
  transform: rotate(-70deg);
  top: 40vw;
  left: 22vw;
}

.bb1{
  width: 16vw;
  top: 15vw;
  left: 68vw;
}

.tel1{
  width: 9vw;
  transform: rotate(-32deg);
  top: 64vw;
  left: 80vw;
}

.pla1{
  width: 16vw;
  top: 88vw;
  left: 60vw;
}

.eye{
  width: 14vw;
  top: 66vw;
  left: 10vw;
}

.kr1{
  width: 20vw;
  top: 88vw;
  left: 12vw;
}

.zn1{
  width: 12vw;
  top: 24vw;
  left: 12vw;
}


}

@media all and (max-width: 767px){


a{
  font-size: 16px;
}

h1{
  font-size: 26px;
  line-height: 30px;
}

h2{
  font-size: 22px;
  line-height: 27px;
}

  h1{
    font-size: 30px;
    line-height: 34px;
  }

  h3{
    font-size: 20px;
    line-height: 24px;
  }

  h4{
    font-size: 20px;
    line-height: 24px;
  }

  p{
    font-size: 18px;
    line-height: 22px;
  }

  .btext{
    font-size: 20px;
    line-height: 22px;
  }

  #butws{
    font-size: 18px;
    line-height: 22px;
  }

  #but{
    font-size: 18px;
    line-height: 22px;
  }

  #otstup{
    padding-top: 8px;
  }

.logo{
  width: 20vw;
}

.menu{
  align-items: center;
}

.nav{
  width: 260px;
}

.foter{
  margin-bottom: 32px;
  margin-top: 72px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  .knopka1, .knopka2{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 100px;
  }

  .knopki{
    margin-top: 24px;
  }

  hr{
    margin-top: 40px;
  }

  .cryg{
    height: 30px;
    top: 140px;
    animation-duration: 4s;
  }

  @keyframes cryg1a {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(84vw) rotate(360deg); }
    100% { transform: translateX(0); }
  }

  .logo{
    width: 16vw;
  }

  .img1{
    border-radius: 16px;
    width: 90vw;
    height: auto;
    margin-top: 24px;
  }

  .btn1{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 24px;
    border-radius: 100px;
  }


.bl1{
  margin-top: 72px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.pl1, .pl2, .pl3, .pl4{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 80px;
}

.plashki{
  padding-bottom: 32px;
}

.utp{
  padding-left: 0px;
}

.wow{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  top: 90%;
  left: 4%;
}

.candy1{
  top: 70%;
  left: 2%;
  height: 20%;
}

.bl2, .bl3{
  margin-top: 40px;
}

.tovar1{
  margin-top: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.t1, .t2, .t3{
  border-radius: 16px;
  height: 100vw;
}

.t1, .t2{
  width: 100%;

}

.t2{
    margin-top: 2vw;
}

.t3{
  width: 100%;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.t12{
  width: 100%;
  flex-direction: column;
}

.candy2{
  position: absolute;
  display: flex;
  height: 8%;
  left: 72%;
  top: -4%;
}

.blur{
  height: 200vw;
  margin-top: 40vw;
}

.card{
  width: 60%;
  padding-bottom: 0px;
  margin-bottom: 48px;
}

.btn2{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 56px;
  padding-right: 56px;
  margin-top: 8px;
  border-radius: 100px;
}

.btn3{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  border-radius: 100px;
}

.bll3{
  margin-top: 24px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.plakat1{
  width: 90vw;
  border-radius: 16px;
}

.plakat2, .plakat3{
  border-radius: 16px;
}

.plbtn{
  margin-top: 2vw;
}

/* —————————плакаты——————————— */

.plakat1{
  border-radius: 16px;
}

.plakat2, .plakat3{
  border-radius: 8px;
}

.plakat2{
  padding-right: 4px;
}

.plakat3{
  padding-left: 4px;
}

.plakatiki, .ek1{
  margin-top: 40px;
}


.p1{
  position: absolute;
  display: flex;
  width: 40vw;
  border-radius: 16px;
  margin-top: 0px;
}

.p2{
  position: absolute;
  display: flex;
  width: 40vw;
  right: 5vw;
  margin-top: 100vw;
  opacity: 0.6;
  border-radius: 16px;
}

.p3{
  position: absolute;
  display: flex;
  width: 36vw;
  right: 22vw;
  margin-top: 180vw;
  border-radius: 24px;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.p4{
  width: 28vw;
  left: 10vw;
  margin-top:160vw;
  border-radius: 8px;
}

.p6{
  width: 32vw;
  left: 26vw;
  margin-top: 200vw;
  opacity: 0.5;
  border-radius: 16px;
}

.p5{
  width: 38vw;
  right: 8vw;
  margin-top: 300vw;
  border-radius: 16px;
}

.p7{
  width: 28vw;
  left: 10vw;
  margin-top: 260vw;
  border-radius: 8px;
}

.p9{
  width: 40vw;
  right: 32vw;
  margin-top: 360vw;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.p8{
  width: 32vw;
  left: 10vw;
  margin-top: 348vw;
  opacity: 0.6;
  border-radius: 16px;
}

.a3, .a4{
  position: absolute;
  margin-top:250vw;
  padding-bottom: 32px;
}

/* __________экскурсии____________ */

.etext{
  font-size: 16px;
  line-height: 19px;
}

 .etext1, .etext2, .etext3, .etext4, .etext5{
   font-size: 16px;
   line-height: 19px;
  }

  .etext2{
    padding-top: 24px;
    padding-left: 24px;
    border-radius: 16px;
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
  }

  .etext1{
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: px;
    width: 100%;
  }

  .etext3{
    margin-top: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 0px;
  }

  .etext4{
    margin-top: 16px;
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
    width: 100%;
    padding-right: 7vw;
  }

  .etext5{
    padding-top: 24px;
    border-radius: 16px;
    padding-left: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
  }

  .e1{
    border-radius: 16px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
  }

  .e2{
      margin-top: 24px;
  }

    .e3, .e4, .e5, .e6, .e7, .e8, .e9{
      margin-top: 48px;
    }



    .clyd1, .clyd2, .clyd3, .clyd4, .clyd5, .gid, .shop {
      margin-top: 32px;
    }

    .sl1, .sl2, .sl3, .sl4, .sl5, .sl6, .sl7, .sl8, .sl9, .sl10, .sl11, .sl12{
      height: 300px;
      border-radius: 16px;
    }

    .et3{
      margin-top: 16px;
      flex-direction: column;
      align-items: flex-start;
    }

    .clyd3{
      flex-direction: column;
      height: auto;
    }

    .gid{
        padding: 56px;
    }

    .avt{
      font-size: 32px;
      line-height: 39px;
    }

    .sh, .gib, .gib1, .backbtn{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 44px;
      padding-right: 44px;
      border-radius: 100px;
    }

    .gib{
      margin-top: 24px;
    }

    .book{
      margin-top: 24px;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .veb, .katall, .merchall{
      margin-top: 96px;
    }

    .video, .sh{
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 100px;
      margin-top: -74px;
      margin-left: 3vw;
    }

  .ef, .ef1, .ef2, .l4, .l44, .j1, .shop{
    border-radius: 16px;
  }

  .l4,.l44{
    margin-top: 8px;
    width: 50%;
  }

  .el{
    width: 100%;
    border-radius: 16px;
  }

  .ell{
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
    flex-direction: column-reverse;
  }

  .l4,.l44{
    margin-top: 0px;
    width: 50%;
    border-radius: 16px;
  }

  .gid{
    padding: 32px;
    border-radius: 16px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .kn{
    width: 100%;
    padding-bottom: 32px;
  }

  .cl1{
    flex-direction: column;
  }

  .ef, .ef1{
    display: flex;
    border-radius: 16px;
    margin-right: 0px;
    width: 100%;
  }

  .ef1{
    margin-top: 16px;
  }

/* __________веб-инт-плакаты_____ */
.veball, .intall{
flex-direction: column;
}

.veb{
  margin-top: 40px;
}

.veb1, .veb2, .veb3, .int1, .int2, .int3{
  flex-direction: column;
  width: 100%;
}

.logo2, .logo3{
  height: 20vw;
  border-radius: 16px;
}

.lg2{
  width: 50%;
}

.kd{
  width: 32vw;
}

.konfeta, .cvet{
  margin-top: 1vw;
  border-radius: 16px;
  height: 44vw;
}

.kkk3, .kkk4{
  border-radius: 16px;
  margin-top: 1vw;
  height: 20vw;
}

.kkk, .kkk1{
  width: 12vw;
  margin-left: 48px;
  margin-left: 48px;
}

.eye3, .kof{
  border-radius: 16px;
  height: 20vw;
}

.eye33, .eye331{
  width: 14vw;
  margin-left: 32px;
  margin-left: 32px;
}

@keyframes eye33a {
  25% {transform: translateY(-28px)}
  50% {transform: translateY(0px)}
  75% {transform: translateY(28px)}
  100% {transform: translateY(0px)}
}

@keyframes eye331a {
  25% {transform: translateY(28px)}
  50% {transform: translateY(0px)}
  75% {transform: translateY(-28px)}
  100% {transform: translateY(0px)}
}

.bt3, .bt4{
  margin-top: 1vw;
  border-radius: 16px;
  height: 18vw;
}

.vebtn{
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-left: 8vw;
  padding-right: 8vw;
  border-radius: 200px;
}

.avt{
  font-size: 18px;
  line-height: 22px;
}

.veb3{
  margin-top: 1vw;
  margin-left: 1vw;
  border-radius: 16px;
  height: 32vw;
  flex-direction: row;
  width: 100%;
  padding-right: 0px;
  justify-content: center;
}

.int3{
  margin-top: 1vw;
  margin-left: 1vw;
  border-radius: 16px;
  height: 36vw;
  padding-right: 0px;
}

.zg2{
  width: 10vw;
  transform: rotate(50deg);
  margin-left: 14vw;
  margin-top: 2vw;
}

.zg3{
  width: 10vw;
  transform: rotate(-50deg);
  margin-left: 14vw;
  margin-top: 3vw;
}

.zg{
  width: 10vw;
  transform: rotate(-50deg);
  margin-top: 3vw;
}

.ramka1{
  padding-left: 8vw;
  padding-right: 8vw;
  width: 80%;
  height: 24vw;
}

.kry, .krr, .krf{
width: 12vw;
height: 12vw;
}

.knp{
width: 40vw;
}

.ramka2{
flex-direction: row;
padding-left: 4vw;
padding-right: 4vw;
width: 80%;
height: 24vw;
padding-top: 3vw;
padding-bottom: 3vw;
background-color: #121212;
border-radius: 10px;
border: 1px solid #252525;
}

.i1{
width: 16vw;
}

.i2{
width: 12vw;
}

.i3{
width: 14vw;
}

/* ____________каталог___________ */

  .katall, .merchall{
    margin-top: 40px;
  }

  .kat12, .kat34, .kat56{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .katall{
    display: flex;
    flex-direction: column;
  }

  .kat2, .kat4, .kat6{
    margin-top: 0px;
    margin-left: 0px;
  }

  .kat34{
    margin-right: 0px;
    margin-left: 0px;
  }

  .kat34, .kat56{
    margin-top: 0px;
  }

  .kat1, .kat2, .kat3, .kat4, .kat5, .kat6{
    padding-top: 80px;
    height: 100vw;
    border-radius: 16px;
  }

  .kat2, .kat3, .kat4, .kat5, .kat6{
    margin-top: 16px;
  }


/* ____________мерч___________ */

.m345{
  margin-top: 0px;
}

.m12, .m345{
  flex-direction: column;
}

.m1, .m2{
  padding-top: 48px;
  height: 100vw;
  border-radius: 16px;
  width: 100%;
  margin-left: 0px;
}

.m3, .m4, .m5{
  padding-top: 48px;
  height: 80vw;
  border-radius: 16px;
  margin-left: 0px;
}

.m4, .m5{
  margin-left: 0px;
}

.m2, .m3, .m4, .m5{
  margin-top: 16px;
}

.tel{
  width: 30%;
  margin-top: 8vw;
}

/* ____________стр товара__________ */

#down{
  margin-top: 16vw;
}

.tov1{
  display: flex;
  flex-direction: column;
}

.tovt{
  margin-left: 0vw;
  margin-top: 32px;
}

.tt1{
  width: 100%;
  padding-top: 0px;
  height: 90vw;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hudi1{
  width: 90%;
  padding-left: 2vw;
  margin-right: -2vw;
}

.to{
  margin-top: 32px;
  text-align: left;
}

.razmer{
  margin-top: 16px;
}

.raz, .raz1{
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-radius: 40px;
}

.raz1{
  margin-left: 1vw;
}

.gib1{
    margin-top: 32px;
}

/* ___________404__________ */

.oups{
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  margin-top: 32vw;
}

.vse{
  border-radius: 16px;
  width: 90vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.gib2{
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 48vw;
  border-radius: 100px;
}

.can1{
  width: 20vw;
  transform: rotate(-70deg);
  top: 80vw;
  left: 22vw;
}

.bb1{
  width: 20vw;
  top: 34vw;
  left: 68vw;
}

.tel1{
  width: 10vw;
  transform: rotate(-32deg);
  top: 75vw;
  left: 80vw;
}

.pla1{
  width: 24vw;
  top: 160vw;
  left: 60vw;
}

.eye{
  width: 14vw;
  top: 59vw;
  left: 9vw;
}

.kr1{
  width: 32vw;
  top: 140vw;
  left: 12vw;
}

.zn1{
  width: 16vw;
  top: 24vw;
  left: 12vw;
}



}
