*{
  box-sizing: border-box;
}

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'Inter', sans-serif;,  sans-serif;
}

body{
 overflow-x: hidden;
}

.all1{
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

.all2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* __________________________каталоги____________________________ */

.foter1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 48px;
}

.a1{
  position: absolute;
  bottom: 48px;
  left: 5vw;
}

.a2{
  position: absolute;
  bottom: 48px;
  right: 5vw;
}

.oups{
  font-size: 110px;
  font-weight: 700;
  line-height: 140px;
  text-align: center;
  margin-top: 3vw;
  color: #CDCDCD;
  animation-name: oups1a;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.vse{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  box-shadow: 4px 6px 13px 0px rgba(0, 0, 0, .1);
  border: 1px solid #F2F2F2;
  background-color: white;
  width: 44vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.gib2{
  margin-top: 32px;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 28vw;
  border-radius: 40px;
  border: none;
  background-color: black;
  font-size: 24px;
  line-height: 29px;
}

/* __________________________картинки____________________________ */

.can1{
  position: absolute;
  width: 12vw;
  transform: rotate(-70deg);
  top: 4vw;
  left: 22vw;
  animation-name: can1a;
  animation-timing-function: linear;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

.bb1{
  position: absolute;
  width: 10vw;
  transform: rotate(20deg);
  top: 15vw;
  left: 66vw;
  animation-name: bb1a;
  animation-timing-function: linear;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

.tel1{
  position: absolute;
  width: 7vw;
  transform: rotate(-32deg);
  top: 24vw;
  left: 84vw;
  animation-name: tela;
  animation-timing-function: linear;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  opacity: 0.4;
}

.pla1{
  position: absolute;
  width: 10vw;
  transform: rotate(40deg);
  top: 36vw;
  left: 64vw;
  animation-name: pla1a;
  animation-timing-function: linear;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.eye{
  position: absolute;
  width: 12vw;
  transform: rotate(-10deg);
  top: 13vw;
  left: 6vw;
  animation-name: eye1a;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.kr1{
  position: absolute;
  width: 16vw;
  transform: rotate(10deg);
  top: 42vw;
  left: 12vw;
  animation-name: kr1a;
  animation-timing-function: linear;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  opacity: 0.4;
}

.zn1{
  position: absolute;
  width: 8vw;
  transform: rotate(10deg);
  top: 32vw;
  left: 28vw;
  animation-name: zn1a;
  animation-timing-function: linear;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

/* __________________________анимация____________________________ */

@keyframes can1a{
    0%   { transform: scale(1,1)    translateY(0); }
     10%  { transform: scale(1.1,.8) translateY(0); }
     30%  { transform: scale(.9,1.1) translateY(-56px);}
     50%  { transform: scale(1,1)    translateY(0); }
     100% { transform: scale(1,1)    translateY(0); }
}

@keyframes eye1a{
  50% {transform: scale(1.1)}
    }

@keyframes bb1a{
  50% {transform: rotate(45deg)}
}

@keyframes tela{
  50% {transform: scale(1.1); opacity: 1}
}

@keyframes oups1a{
  50% {opacity: 0.2; transform: scale(0.99)}
}

@keyframes kr1a{
  50% {transform: scale(1.1); opacity: 1}
}

@keyframes pla1a{
  0%   { transform: scale(1,1)    translateY(0); }
   10%  { transform: scale(1.1,.8) translateY(0); }
   30%  { transform: scale(.1,1.0) translateY(0px) rotate(45deg);}
   100% { transform: scale(1,1)    translateY(0); }
    }

@keyframes zn1a{
    100% {transform: rotate(360deg)}
    }
